<form action="/upload_do" method="POST" enctype="multipart/form-data">
  <input type="text" name="file_name"> <br><br>
  <input type="file" name="image1" accept="image/*"> <br><br>
  <input type="file" name="image2" accept="image/*"> <br><br>
  <input type="submit" value="업로드">
</form>
